@media all and (max-width: 1440px) {
  body {
    margin: 0;
    background: url(img/background.jpg);
  }

  .off {
    display: none;
  }

  .wrapper {
    margin: auto;
    padding-top: 129px;
    width: 86%;
    z-index: 10;
    color: white;
  }

  .start-page__heading {
    margin: 0;
    margin-bottom: 9px;
    font: 57px/67px Roboto, arial, helvetica, sans-serif;
    font-weight: 700;
  }

  .start-page__subheading {
    margin: 0;
    margin-bottom: 60px;
    font: 19px/22px Roboto, arial, helvetica, sans-serif;
    font-weight: 700;
  }

  .start-page__menu {
    display: flex;
    justify-content: space-between;
  }

  .menu__first-part {

  }

  .first-part__choosing-list {
    margin-left: 51px;
    margin-bottom: 112px;
  }

  .choosing-list__item {
    position: relative;
    font: 50px/59px Roboto, arial, helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .choosing-list__item::before {
    position: absolute;
    background: url(img/rhombus.png) left no-repeat;
    z-index: 20;
  }

  .choosing-list__midde {

  }

  .choosing-list__hard {

  }

  .first-part__button {
    display: inline-block;
    padding: 29px 88px;
    text-decoration: none;
    color: white;
    font: 32px/37px Roboto bold, arial, helvetica, sans-serif;
    background: #D62B2E;
    border-radius: 7px;
  }

  .menu__second-part {
    padding-top: 225px;
  }

  .second-part__first-card {
    margin-right: -109px;
    padding-bottom: 23px;
  }

  .second-part__second-card {
    transform: rotate(28deg);
    padding-top: 20px;
    padding-right: 17px;
  }

  .game-page__level-easy {

  }

  .level-easy__item {

  }
}